<div class="britt square">
  <h1>BRITT LEWIS</h1>
  <div class="main-mask">
    <p>a full-stack web dev</p>
    <p>looking to improve the world</p>
    <p>one line at a time.</p>
    <div class="icons">
      <a href="http://github.com/brittlewis12">
        <img class="icon" src="images/github.png" alt="github">
      </a>
      <a href="http://twitter.com/p3ery">
        <img class="icon" src="images/twitter.png" alt="twitter">
      </a>
      <a href="mailto:brittlewis12@gmail.com">
        <img class="icon" src="images/email.png" alt="email">
      </a>
      <a href="#">
        <img class="icon" src="images/resume.png" alt="resume">
      </a>
      <a href="http://linkedin.com/in/brittlewis">
        <img class="icon" src="images/linkedin.png" alt="linkedin">
      </a>
    </div>
  </div>
</div>

<div class="beatcove square">
  <h2>beatcove</h2>
  <div class="mask">
    <p class="beatcove-name">beatcove</p>
    <p>is a collaborative recording app. Built on the experimental HTML5 WebAudio API, you can record and play songs, and invite friends to add their own tracks -- right in the browser.</p>
    <p><a href="http://github.com/brittlewis12/batman" class="info">check out the code</a></p>
    <p><a href="http://beatcove.herokuapp.com" class="info">see it in action</a></p>
  </div>
</div>

<div class="doodads square">
  <h2>doodads</h2>
  <div class="mask">
    <p class="doodads-name">doodads</p>
    <p>lets you suggest your own new ideas -- 'doodads' -- to help make iOS apps you already know and love even better!</p>
    <p><a href="http://github.com/brittlewis12/doodads" class="info">check out the code</a></p>
    <p><a href="http://doodads.co" class="info">see it in action</a></p>
  </div>
</div>

<div class="cinnamin square">
  <h2>cinnam.in</h2>
  <div class="mask">
    <p class="cinnamin-name">cinnam.in</p>
    <p>is a real-time web messaging service.<br/>Check back soon for updates!</p>
    <p><a href="http://github.com/brittlewis12/cinnamin" class="info">check out the code</a></p>
    <p><a href="http://cinnam.in" class="info">visit the splash page</a></p>
  </div>
</div>
