<div class="britt square">
  <h1>BRITT LEWIS</h1>
</div>

<div class="beatcove square">
  <h1>beatcove</h1>
  <div class="mask">
    <a href="http://github.com/brittlewis12/batman" class="info">check out the code</a>
    <a href="http://beatcove.herokuapp.com" class="info">see it in action</a>
  </div>
</div>

<div class="doodads square">
  <h1>doodads</h1>
  <div class="mask">
    <a href="http://github.com/brittlewis12/doodads" class="info">check out the code</a>
    <a href="http://doodads.co" class="info">see it in action</a>
  </div>
</div>

<div class="cinnamin square">
  <h1>cinnam.in</h1>
  <div class="mask">
    <a href="http://github.com/brittlewis12/cinnamin" class="info">check out the code</a>
    <a href="http://cinnam.in" class="info">see the splash page</a>
  </div>
</div>
