<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>britt.is</title>
  <link rel="stylesheet" href="/stylesheets/reset.css?v=24-01-14"/>
  <link rel="stylesheet" href="/stylesheets/normalize.css?v=24-01-14"/>
  <link rel="stylesheet" href="/stylesheets/style.css?v=24-01-14"/>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/main.js?v=24-01-14"></script>
  <script src="/javascripts/analytics.js?v=24-01-14"></script>
</body>
</html>
