@import url("http://fonts.googleapis.com/css?family=Roboto:100|Architects+Daughter|Damion|Josefin+Sans:300");
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; *behavior: url(/javascripts/boxsizing.htc);
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 705px;
  font-weight: 300;
}

.square {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 50%;
  height: 50%;
  float: left;
}

.square h2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.square .main-mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 3%;
}

.square .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.square:hover .mask {
  padding-top: 14%;
}

.square .mask a, .square .mask p {
  color: #FFF;
}

.square .main-mask .social {
  position: relative;
  margin-top: 3%;
  height: 40%;
}

.square .main-mask .icon {
  max-width: 6%;
  padding: 1% 1% 0 1%;
  vertical-align: middle;
}

.square .main-mask img[alt='twitter'],.square .main-mask img[alt='email'] {
  max-width: 7%;
}

.mask a {
  text-decoration: underline;
}

.mask a:hover {
  text-decoration: none;
}

.mask p {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
}

.square:hover .mask, .square:hover .main-mask {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.beatcove:hover .mask {
  background: #000 url(../images/beatcove-blur.jpg?v=1.0) no-repeat;
  background-size: cover;
}

.doodads:hover .mask {
  background: #444 url(../images/doodads-dark.jpg?v=1.0) no-repeat;
  background-size: cover;
}

.cinnamin:hover .mask {
  background: #A58C7A url(../images/cinnamin-blur.jpg?v=1.0) no-repeat;
  background-size: cover;
}

.square:hover h2 {
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   transform: translateX(-100%);
}

a {
  font-size: 1em;
  text-decoration: none;
}

.britt {
  background-color: #FFF;
}

.britt h1 {
  font-family: "League Gothic", Helvetica, sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin: 0;
}

.beatcove {
  background-color: #000;
  color: #5D1885;
}

.beatcove h2 {
  font-family: "Josefin Sans", Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  padding-top: 20%;
  margin: 0;
}

.beatcove-name {
  font-family: "Josefin Sans", Helvetica, sans-serif;
  font-size: 2em;
  padding-bottom: 2%;
}

.doodads {
  background-color: #444;
  color: #FCFCFC;
}

.doodads h2 {
  font-family: "Architects Daughter", Helvetica, sans-serif;
  font-size: 2.8em;
  text-align: center;
  padding-top: 20%;
  margin: 0;
}

.doodads-name {
  font-family: "Architects Daughter", Helvetica, sans-serif;
  font-size: 2em;
  padding-bottom: 2%;
}

.cinnamin {
  background-color: #A58C7A;
  color: #462607;
}

.cinnamin h2 {
  font-family: "Damion", Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  padding-top: 20%;
  margin: 0;
}

.cinnamin-name {
  font-family: "Damion", Helvetica, sans-serif;
  font-size: 2.5em;
  padding-bottom: 2%;
}

.square a.info {
   display: inline-block;
   text-decoration: none;
   padding: 2% 3%;
   background: #222;
   color: #fff;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   border-radius: 10px;
   border: 2px solid #CCC;
}

.square a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.britt .main-mask .social .icon:hover {
  padding: 1% 0 0 0;
  transition: .7s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

#twitter:hover, #email:hover {
  transition: .7s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.britt .main-mask .social .icon {
  transition: .7s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .square {
    width: 100%;
    float: none;
  }

  .square .mask {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    padding-top: 15%;
  }

  .square .main-mask {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    top: 50%;
  }

  .square p.beatcove-name {
    color: #5D1885;
    font-size: 2.5em;
  }

  .square p.cinnamin-name {
    color: #462607;
  }

  .beatcove {
    color: #000;
  }

  .doodads {
    color: #444;
  }

  .cinnamin {
    color: #A58C7A;
  }

  .beatcove:hover .mask {
    background: #000;
  }

  .doodads:hover .mask {
    background: #444;
  }

  .cinnamin:hover .mask {
    background: #A58C7A;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .square {
    width: 100%;
    float: none;
  }

  .square .mask {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    padding-top: 15%;
  }

  .square .main-mask {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    top: 50%;
  }

  .square p.beatcove-name {
    color: #5D1885;
    font-size: 2.5em;
  }

  .square p.cinnamin-name {
    color: #462607;
  }

  .beatcove {
    color: #000;
  }

  .doodads {
    color: #444;
  }

  .cinnamin {
    color: #A58C7A;
  }

  .beatcove:hover .mask {
    background: #000;
  }

  .doodads:hover .mask {
    background: #444;
  }

  .cinnamin:hover .mask {
    background: #A58C7A;
  }
}
